<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ehans Itunes playlist</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <!-- div for playlist, search, and results for song search -->
    <div class="playlist-div">
        <div class="playlist-div">
            <h2>Playlist:</h2>
            <table id="playlistDiv">
            </table>
        </div>

        <div class="search-div">
            <label for="songSearch">Enter Song Title:</label>
            <input type="text" id="songSearch" />
         <button id="submit_button">Submit</button>
        </div>

        <div class="search-div">
            <h2 id="searchResults"></h2>
            <table id="searchResultsDiv">
            </table>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>
